body {
  margin: 0;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.component-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
}
